<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{landing/layout/layout-landing}">
    <head>
        <title>YouTube Keyword Search</title>
        <link th:href="@{/resources/styles/search.css}" rel="stylesheet" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="/resources/vendor/search.js"></script>

        <style>

        </style>
    </head>
    <body layout:fragment="content">

        <div class="container">

            <div class="row py-5">

                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control form-control-lg" id="query" type="text" name="query" th:value="${query}" placeholder="Enter Keyword...">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-block btn-lg btn-primary" id="search-btn" type="submit">Search</button>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <table id="keyword-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Keyword</th>
                            <th>Competition</th>
                            <th>Search Volume</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 ">
                    <div class="row justify-content-center pt-3">
                        <div class="col-3">
                            <button class="btn btn-lg btn-block btn-secondary" id="load-more-btn" style="display:none;">
                                Load More
                            </button>
                            <button class="btn btn-lg btn-block btn-secondary" id="loading-btn" type="button" style="display:none;" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script id="entry-template" type="text/x-handlebars-template">
            <span class="keyword">
                <i class="far fa-copy"></i>
                <span class="text">{{this}}</span>
            </span>
        </script>

        <script type="text/javascript">

            $(document).ready( function () {

                var source = document.getElementById("entry-template").innerHTML;
                var template = Handlebars.compile(source);

                var query = "[[${query}]]";

                var table = $('#keyword-table').DataTable({
                    "dom": "rt",
                    "language": {
                        "sSearch": "Filter:",
                    },
                    "pageLength": 20,
                    "ajax": {
                        "url": "/youtube-keyword-search/list",
                        "type": "POST",
                        "data": {
                            "query": query,
                        },
                    },
                    "columns": [
                        {
                            data: "keyword",
                            className: 'has-popover keyword-cell',
                            createdCell:  function (td, cellData, rowData, row, col) {
                                $(td).attr('data-toggle', 'tooltip');
                                $(td).attr('title', 'Copy to Clipboard');
                            },
                            render: function ( data, type, row, meta ) {
                                return template(data);
                            }
                        },
                        {
                            data: "competition"
                        },
                        {
                            data: "searchVolume",
                            render: $.fn.dataTable.render.number( ',' )
                        }
                    ],
                    "order": [],
                    "initComplete": function() {
                        $('#load-more-btn').show();
                    },
                });

                $("#load-more-btn").on("click", function() {

                    $(this).toggle();
                    $('#loading-btn').toggle();

                    var params = {
                        "query": query,
                        "startIndex": table.page.len()
                    };

                    $.post("/youtube-keyword-search/list", params)
                     .done(function(response) {
                        table.rows.add(response.data).draw();
                        table.page.len(table.page.len() + response.data.length).draw();

                        $('#loading-btn').toggle();
                        $("#load-more-btn").toggle();
                     })
                     .fail(function() {

                       $('#loading-btn').toggle();
                        $("#load-more-btn").toggle();
                     });
                });

                $("#search-btn").on("click", function() {

                    newSearch();
                });

                $("#query").on("keyup", function(event) {

                    if(event.which === 13) {

                        newSearch();
                    }
                });

                function newSearch() {

                    query = $("#query").val()

                    table.clear().draw();
                    $("#load-more-btn").hide();
                    $("#loading-btn").show();

                    var params = {
                        "query": query,
                        "startIndex": 0
                    };

                    $.post("/youtube-keyword-search/list", params)
                        .done(function(response) {
                            table.rows.add(response.data).draw();
                            table.page.len(response.data.length).draw();
                            $("#loading-btn").toggle();
                            $("#load-more-btn").toggle();
                        })
                        .fail(function() {
                            $("#loading-btn").hide();
                        });
                };

                $('#keyword-table').on('click', '.keyword-cell', function() {

                    var keyword = $(this).find('.keyword>.text').text();

                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(keyword).select();
                    document.execCommand("copy");
                    $temp.remove();

                    $(this).attr("title", "Copied")
                        .tooltip("_fixTitle")
                        .tooltip("show")
                        .attr("title", "Copy to clipboard")
                        .tooltip("_fixTitle");
                });

                $(document).tooltip({
                  selector: '.has-popover',
                  placement: 'left',
                  trigger: 'hover'
                });
            });
        </script>
    </body>
</html>