<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{landing/layout/layout-landing}">
    <body layout:fragment="content">

        <!--/* Masthead */-->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">Search YouTube Keywords</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form method="GET" action="/youtube-keyword-search">
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="text" name="query" class="form-control form-control-lg" placeholder="Enter Keyword...">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!--/* Icons Grid */-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-screen-desktop m-auto text-primary">
                                    <i class="fas fa-search"></i>
                                </i>
                            </div>
                            <h3>Keyword Research</h3>
                            <p class="lead mb-0">Easily search related keywords for your Youtube meta data</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-layers m-auto text-primary">
                                    <i class="fas fa-columns"></i>
                                </i>
                            </div>
                            <h3>A/B Testing</h3>
                            <p class="lead mb-0">Perform unlimited A/B testing on your YouTube videos</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-check m-auto text-primary">
                                    <i class="fas fa-chart-line"></i>
                                </i>
                            </div>
                            <h3>Analytics</h3>
                            <p class="lead mb-0">View your most important YouTube analytics in a simple dashboard</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--/* Image Showcases */-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/resources/images/keyword-research.svg');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Keyword Research</h2>
                        <p class="lead mb-3">Preform keywords searches to improve your YouTube videos visibility within search results</p>
                        <ul class="lead mb-0 fa-ul">
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Search related keywords
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Build long tail keywords
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Estimated keyword search volume
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('/resources/images/ab-testing.svg');"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>A/B Testing</h2>
                        <p class="lead mb-3">Run A/B testing on your YouTube videos thumbnails, title and description</p>
                        <ul class="lead mb-0 fa-ul">
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Unlimited A/B testing
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Easily revert changes
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Improvement analytics
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/resources/images/analytics.svg');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Analytics Dashboard</h2>
                        <p class="lead mb-3">View key analytics on your YouTube channel and monitor it's growth</p>
                        <ul class="lead mb-0 fa-ul">
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Key channel analytics
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Clean visual graphs
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                                Measured performance
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--/* Call to Action */-->
        <section class="call-to-action bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 mx-auto my-4">
                        <h2 class="mb-4">Take the guess work out of managing your channel</h2>
                        <h6>Let our tools help grow your channel</h6>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form method="GET" action="/registration">
                            <div class="form-row justify-content-center">
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>