<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:href="@{/resources/styles/newLanding.css}" rel="stylesheet">
        <link rel="icon" sizes="64x64" th:href="@{/resources/images/fav.png}">
        <script th:src="@{/resources/vendor/newLanding.js}"></script>
    </head>
    <body>

        <!--/* Top Navbar */-->
        <header>
            <nav class="top-nav sticky-top">
                <a class="logo" href="#" aria-label="Product">
                    <img src="./resources/images/logo.svg" />
                </a>
            </nav>
        </header>

        <!--/* Main */-->
        <main>
            <!--/* Call To Action */-->
            <section class="call-to-action">
                <div class="header">
                    <h1>Grow Your Channel</h1>
                    <p class="subheader">Increasing your views and subscribers is only a click away </p>
                    <a class="btn btn-secondary download" href="https://chrome.google.com/webstore/detail/tubecentric/goembglpcahafaplhegdmhnifecdofgd">
                        Install Chrome Extension
                        <img src="./resources/images/chrome.svg"></svg>
                    </a>
                </div>
            </section>

            <!--/* About Section */-->
            <section class="section">
                <article class="content">
                    <h2 class="header">Maximize Your Reach</h2>
                    <div class="description">
                        Easily add new and relevant tags to your videos to show up in more YouTube Searches and Related videos.
                    </div>
                </article>
                <figure class="image">
                    <img class="rounded mx-auto d-block" src="./resources/images/youtube.webp" alt="">
                </figure>
            </section>

            <!--/* Features Section */-->
            <section class="section">
                <figure class="image">
                    <img class="rounded mx-auto d-block" src="./resources/images/youtube-dashboard.webp" alt="">
                </figure>
                <article class="content">
                    <h2 class="header">Easily Discover Tags</h2>
                    <div class="description">
                        Quickly and easily discover relevant tags to reach your target audience more efficiently so you can focus on creating quality content.
                    </div>
                </article>
            </section>

            <!--/* Subscribe Section */-->
            <div id="subscribeSection">
                <div th:replace="~{landing/fragments/partial-subscribe-section :: component(${form})}"></div>
            </div>
        </main>

        <!--/* Footer */-->
        <footer class="footer">
            <div class="content">
                <small class="text-muted">TubeCentric &copy; 2020</small>
            </div>
        </footer>

    </body>
</html>