<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>

        <th:block th:if="${@environment.getActiveProfiles()[0] == 'prod'}">
            <!--/* Google Analytics */-->
            <script >
                window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
                ga('create', 'UA-124744065-1', 'auto');
                ga('send', 'pageview');
            </script>
            <script async src='https://www.google-analytics.com/analytics.js'></script>
        </th:block>

        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">TubeCentric</title>

        <link th:href="@{/resources/styles/landing.css}" rel="stylesheet" />
        <script src="/resources/vendor/landing.js"></script>
    </head>
    <body>

        <div id="landing">

            <!--/* Navigation */-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">TubeCentric</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div layout:fragment="content"></div>

            <!--/* Footer */-->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 h-100 text-center my-auto">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <a href="/contact">Contact</a>
                                </li>
                                <li class="list-inline-item">&sdot;</li>
                                <li class="list-inline-item">
                                    <a href="/terms-of-use">Terms of Use</a>
                                </li>
                                <!--/*
                                    <li class="list-inline-item">&sdot;</li>
                                    <li class="list-inline-item">
                                        <a href="/privacy-policy">Privacy Policy</a>
                                    </li>
                                */-->
                            </ul>
                            <p class="text-muted small mb-4 mb-lg-0">&copy; TubeCentric 2019. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </body>
</html>